.intro {
  background: url(../images/h_img.jpg);
  background-position: top;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  color: white;


}
.services {
  background: url(../images/s_image.jpg);
  background-position: top;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  color: white;
  margin-top: 15%;
  transform: translateY(-15%);
}
.contactUs {
  background: url(../images/c_image.jpg);
  background-position: top;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  color: white;
  margin-top: 15%;
  transform: translateY(-15%);
}
.logo1{
  text-align: center;

}

.logo2{
  text-align: center;
}
.aboutUs {
  margin-top: 10%;
  transform: translateY(-10%);
}
.socialMediaIcons {
  text-align: center;
}
.portfolio .column {
  float: left;
  width: 25%;
  padding: 5px;
}


.portfolio .row::after {
  content: "";
  clear: both;
  display: table;
}
.design-show{
  display: none;
}
.development-show {
  display: none;
}
.productManagement-show {
  display: none;
}
figcaption {
  position: relative;
  font-weight: bold;
}
figure {
  text-align: center;
  float: left;
}
.clickable1 {
     cursor: pointer;
     color: #0088cc;
}
.clickable2 {
     cursor: pointer;
     color: #0088cc;
}
.clickable3 {
     cursor: pointer;
     color: #0088cc;
}
.design-show h3 {
  font-weight: bold;
}.development-show h3 {
  font-weight: bold;
}
.productManagement-show h3 {
  font-weight: bold;
}
.intro h1 {
  font-weight: bold;
}.intro p {
  font-weight: bold;
}
.aboutUs h2 {
  font-weight: bold;
}
.services h2 {
  font-weight: bold;
}
.whatWeDo h2 {
  font-weight: bold;
}
.contactUs h2 {
  font-weight: bold;
}
