.intro {
  background: url(../images/h_img.jpg);
  background-position: top;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  color: white;


}
.services {
  background: url(../images/s_image.jpg);
  background-position: top;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  color: white;
  margin-top: 15%;
  transform: translateY(-15%);
}
.contactUs {
  background: url(../images/c_image.jpg);
  background-position: top;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  color: white;
  margin-top: 15%;
  transform: translateY(-15%);
}
.logo1{
  text-align: center;

}

.logo2{
  text-align: center;
}
.aboutUs {
  margin-top: 10%;
  transform: translateY(-10%);
}
.socialMediaIcons {
  text-align: center;
}
